*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0E17;
    color: #DAD9DB;
    font-family: 'Fredoka', sans-serif;

}
h1,
h2{
    color: #e53270;
}
h1{
    margin-top: 40px;
}
h3{
    color: #fd8906;
}
.container{
    width: 88%;
    margin: 0 auto;
    padding: 10px 0px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}
.item{
    width: 32%;
    padding: 10px;
    text-align: center;
}

.item img{
    width: 138px;
    height: 166px;
}

footer{
    margin-top: 20px;
}